<div class="container">
  <form [formGroup]="joinForm" (ngSubmit)="join()">
      <div class="form-group">
        <label for="playerName">Player name</label>
        <input type="text" name="playerName" id="playerName" formControlName="playerName" [required]>
      </div>

    <div class="form-group">
      <label for="room">Room</label>
      <select name="room" id="room" formControlName="room" *ngIf="!isNewRoomCreating">
        <option value="" disabled>Select room</option>
        <option *ngFor="let room of rooms" value="{{room}}" >{{room}}</option>
      </select>

      <input type="text" formControlName="room" name="room" *ngIf="isNewRoomCreating">
    </div>

    <button type="submit">Join</button>
  </form>
</div>

<button (click)="isNewRoomCreating = !isNewRoomCreating">Add new Room</button>
