.container {
  min-height: 100%;
  height: auto;
  justify-content: center;
}

.container h4, .btn-confirm, .player {
  color: #fff;
}

.container div, .container h4 {
  display: flex;
  align-content: center;
  justify-content: center;
}

.container div {
  flex-flow: wrap;
}

.player {
  padding: 20px;
  box-sizing: border-box;
  text-transform: capitalize;
}

.btn-confirm {
  margin-top: 50px;
  text-transform: uppercase;
  cursor: pointer;
  flex-basis: 45%;
  border-radius: 20px;
  padding: 100px;
  background-color: #3f51b5;
  border-color: transparent;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12)
}
