<div class="container">

  <h4>CONNECTED PLAYERS</h4>

  <div>
    <div class="player" *ngFor="let player of players">
      {{player.playerName}}
    </div>
  </div>

  <div class="">
    <button class="btn-confirm" (click)="cancelConfirmation()"
            *ngIf="isConfirmInDuring">...{{timerNumber}}</button>

    <button class="btn-confirm" (click)="startConfirmation()"
            *ngIf="!isConfirmInDuring">Confirm game
    </button>
  </div>

</div>
