/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,900&display=swap');

html, body {
  min-height: 100%;
  height: auto;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  background-color: #3b4ebb;
}

.flex-row {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}
